.layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap : 70px;
    grid-column-gap: 20px ;
    place-items: center;
    max-width: 1200px;
    max-height: 100%;
    border: 1px black;
   
    
    
    
}

.layout-item {
    height: 100%;
    width: 100%;
    
}

.layout-image {
    
    height: 280px;
    width: 100%;
    background-color: rgb(203, 205, 207)  ;
}


.father {
    display: flex;

}

.id-item {
    text-align: left;
    font-size :small;
}
.name-item {
    font-weight: bold;
    font-size: medium;
    text-align: left;
    margin-bottom: 5px;
}

.box-description-1, 
.box-description-2 {
    
    border-radius : 3px;
    text-align: center;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;

}
.box-description-1 {
    background-color: lightgreen;
    margin-right: 3px;
}
.box-description-2 {
    background-color: lightcoral;
}