.App {
  text-align: center;
  place-items: center;
  
  justify-content: center;
  width: Hug (1,340px)px;
  height: Fixed (1,009px)px;
  top: -644px;
  left: -1457px;
  padding: 15px 83px 15px 83px;
  gap: 29px;
  opacity: 0px;
  background-color: #192026;
  ;

}

